* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(51, 172, 178);
    font-family: Arial, Helvetica, sans-serif;
  /*   background-image: url(../assets/fonfo.jpg); */
}

header {
    max-width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    background-color: rgb(86, 102, 107);
    font-size: 20px;
    /* font-family: Courier; */
    border: 2px;
    border-color: rgb(60, 60, 60);
    border-style: solid;
}

 main {
    background-color: rgb(35, 116, 141);
    /* object-fit: contain; */
    border: 3px solid #373737;
}

section {
    width: 100%;
   /*  margin: 10px; */
    text-align: center;
}

footer {
    text-align: center;
    color: aliceblue;
}

#btnCategories > * {
    width: 30%;
    border: 2px solid rgb(0, 0, 0); 
}

#btnCategories div img {
    width: 100%;
}

.gallery {
   /*  align-items: center; */
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#gallerySection {
    width: 100%;
    margin: 0 auto;
}

.gallery img {
    width: 100%;
    height: auto;
}

.gallery div {
    width: 40%;
    padding: 2px;
}

#btnImageSearch {
    width: 20px;
    height: 20px;
    background-image: url(../assets/lupa.png);
    border: none;
    background-size: cover;
    background-color: transparent;
}

/* .btnOrientation {
    left: 10px;
    position: relative;
} 
 */

/* ===========================
            768px
================================*/

@media screen and (min-width:768px) {
    .gallery div {
        width: 30%;
    }
    
    #btnCategories >* {
        width: 22%;       
    }

}

/* ===========================
            992px
================================*/

@media screen and (min-width:992px) {
    .gallery div {
        width: 20%;
    }
    
    #btnCategories >* {
        width: 20%;       
    }

}

/* ===========================
            1200px
================================*/

@media screen and (min-width:1200px) {
    .gallery div {
        width: 17%;
    }
    
    #btnCategories >* {
        width: 20%;       
    }

}